body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
@media (max-width: 600px) {
    .form-group {
        padding: 5px;
        margin: 10px;
    }
    

.navbar {
    display:flex;
    flex-direction: column;
    gap:5px;
    margin: bottom 15px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

    
    button:hover {
        background-color: #0056b3;
    }   
    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    body {
        min-height:100vh;
    display:flex;
    justify-content: center;
    }


    

ul{
     list-style: none;
     display: flex;
     gap:15px;
     margin:0;
        padding:0;

    }
h2
    {color: white;
        margin:0
    }


button {
        width: 100%;
        padding: 10px 15px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}